In [1]:
import pandas as pd
import numpy as np

In [707]:
file_to_load = "purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)

In [119]:
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [700]:
total_purchase = purchase_data_df["Purchase ID"].count()
unique_items = len(purchase_data_df["Item ID"].unique())
total_revenue = purchase_data_df["Price"].sum()
average_cost_per_item = total_revenue / total_purchase

data_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items],
                              "Average Price" : [average_cost_per_item],
                              "Number of Purchases": [total_purchase],
                               "Total Revenue": [total_revenue]})

data_analysis["Average Price"] = data_analysis["Average Price"].map("${:.2f}".format)
data_analysis["Total Revenue"] = data_analysis["Total Revenue"].map("${:,.2f}".format)
data_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [701]:
# Getting unique list for gender data
unique_data = purchase_data_df.loc[:, ["SN", "Gender", "Age"]]
ug_df = pd.DataFrame(unique_data)
User_list = ug_df.drop_duplicates()
Gender_list = User_list["Gender"].value_counts()
Gender_list_Pct = Gender_list / total_players
Gender_Demographics = pd.DataFrame({"Total Count": Gender_list, "Percentage of Players": Gender_list_Pct})
# Use .map to hold decimal to 2 places
Gender_Demographics["Percentage of Players"] = Gender_Demographics["Percentage of Players"].map("{:.2f}".format)
Gender_Demographics

                       Total Count Percentage of Players
Male                           484                  0.84
Female                          81                  0.14
Other / Non-Disclosed           11                  0.02

In [675]:
PurchAnalyGen = purchase_data_df.groupby("Gender")
Gender_Purch_Count = PurchAnalyGen["SN"].count()

Gender_Purch_Amount = PurchAnalyGen["Price"].sum()
Gender_Purch_Amount
# User_list is unique values
Gender_list_t = User_list["Gender"].value_counts()

Avg_GPA = Gender_Purch_Amount / Gender_Purch_Count
Avg_GPAT = Gender_Purch_Amount / Gender_list_t

# .map("${:.2f}".format)
PAG_DF = pd.DataFrame({"Purchase Count": Gender_Purch_Count, "Average Purchase Price": Avg_GPA, "Total Purchase Value": Gender_Purch_Amount, "Avg Total Purchase per Person": Avg_GPAT})
PAG_DF["Average Purchase Price"] = PAG_DF["Average Purchase Price"].map("${:.2f}".format)
PAG_DF["Total Purchase Value"] = PAG_DF["Total Purchase Value"].map("${:,.2f}".format)
PAG_DF["Avg Total Purchase per Person"] = PAG_DF["Avg Total Purchase per Person"].map("${:.2f}".format)
PAG_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [702]:
# Adding our Age Group column to our unique user df
User_list["Age Group"] = pd.cut(User_list["Age"], bins, labels=Age_bins)
Age_group_df = User_list.groupby("Age Group")
Age_group_count = Age_group_df["Age Group"].count()
Percent_of_players = Age_group_count / total_players * 100
Age_Demographics = pd.DataFrame({"Total Count": Age_group_count,"Percentage of Players": Percent_of_players})
# use .map for percentage mapping to 2 decimal places "float"
Age_Demographics["Percentage of Players"] = Age_Demographics["Percentage of Players"].map("{:.2f}".format)
Age_Demographics

C:\Users\FrankGarcia\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           Total Count Percentage of Players
Age Group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

In [704]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=Age_bins)
PurchAnalyAge = purchase_data_df.groupby("Age Group")
# Find the total price spent per age group
PurchAnalyAgePrice = PurchAnalyAge["Price"].sum()
PurchAnalyAgeCount = PurchAnalyAge["SN"].count()
PurchAnalyAgeAveCost = PurchAnalyAgePrice / PurchAnalyAgeCount
PAAC = PurchAnalyAgePrice / Age_group_count
PurchAnalyAgeDF = pd.DataFrame({"Purchase Count": PurchAnalyAgeCount, "Average Purchase Price": PurchAnalyAgeAveCost, "Total Purchase Price": PurchAnalyAgePrice, "Avg per Person": PAAC})
PurchAnalyAgeDF["Average Purchase Price"] = PurchAnalyAgeDF["Average Purchase Price"].map("${:.2f}".format)
PurchAnalyAgeDF["Total Purchase Price"] = PurchAnalyAgeDF["Total Purchase Price"].map("${:,.2f}".format)
PurchAnalyAgeDF["Avg per Person"] = PurchAnalyAgeDF["Avg per Person"].map("${:,.2f}".format)
PurchAnalyAgeDF

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [705]:
PDG_DF = purchase_data_gender_df[["SN", "Price"]]
PDG_DF_group = PDG_DF.groupby(["SN"])
Big_Spender = purchase_data_df["SN"].value_counts()
Big_Spender_List = PDG_DF_group["Price"].sum()
Average_Spender = Big_Spender_List / Big_Spender
Big_Spender_DF = pd.DataFrame({"Purchase Count": Big_Spender, "Average Purchase Price": Average_Spender, "Total Purchase Value": Big_Spender_List})
Big_Spender_DF["Average Purchase Price"] = Big_Spender_DF["Average Purchase Price"].map("${:.2f}".format)
# Code did not work "Big_Spender_DF["Total Purchase Value"] = Big_Spender_DF["Total Purchase Value"].map("${:.2f}".format)"
Biggest_Spender = Big_Spender_DF.sort_values(["Total Purchase Value"], ascending=False)
Biggest_Spender.reset_index(inplace=True)
Biggest_Spender.head(5)

         index  Purchase Count Average Purchase Price  Total Purchase Value
0    Lisosia93               5                  $3.79                 18.96
1  Idastidru52               4                  $3.86                 15.45
2   Chamjask73               3                  $4.61                 13.83
3       Iral74               4                  $3.40                 13.62
4  Iskadarya95               3                  $4.37                 13.10

In [706]:
Most_Popular = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]
Most_Popular_Grp = Most_Popular.groupby(['Item ID'])
MPG_Price = Most_Popular_Grp["Price"].value_counts()
Most_Pop = Most_Popular_Grp["Item Name"].value_counts()
MPG_Price = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
Total_Purchase = MPG_Price * Most_Pop
Most_Popular_Item = pd.DataFrame({"Purchase Count": Most_Pop, "Item Price": MPG_Price, "Total Purchase Value": Total_Purchase})
Most_Popular_Item["Total Purchase Value"] = Most_Popular_Item["Total Purchase Value"].map("${:.2f}".format)
Most_Popular_Item["Item Price"] = Most_Popular_Item["Item Price"].map("${:.2f}".format)
MostPopularDF = Most_Popular_Item.sort_values(["Purchase Count"], ascending=False)
MostPopularDF.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [693]:
Most_Profit_Item = pd.DataFrame({"Purchase Count": Most_Pop, "Item Price": MPG_Price, "Total Purchase Value": Total_Purchase})
Most_Profit_Item["Item Price"] = Most_Profit_Item["Item Price"].map("${:.2f}".format)
MostProfitDF = Most_Profit_Item.sort_values(["Total Purchase Value"], ascending=False)
MostProfitDF.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80